#logoHenry {
  width:30px; 
  height:30px;
}
.nav-header{
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 50px;
  background-color: gray;
}
.titulo {
  color: white;
}